

<!-- Siempre visibles: Tabs -->
<div class="center-container">
  <div class="tab-selector">
    <button [class.active-tab]="selectedTab === 'find'" (click)="selectTab('find')">Find</button>
    <button [class.active-tab]="selectedTab === 'friends'" (click)="selectTab('friends')">Friends</button>
    <button [class.active-tab]="selectedTab === 'grouprequest'" (click)="selectTab('grouprequest')">Group Request</button>
    <button [class.active-tab]="selectedTab === 'transactions'" (click)="selectTab('transactions')">My Transactions</button>
    <button [class.active-tab]="selectedTab === 'frequent'" (click)="selectTab('frequent')">Frequent Contacts</button>
    <button [class.active-tab]="selectedTab === 'requests'" (click)="selectTab('requests')" style="position: relative;">
      Requests
      <span *ngIf="requests.length > 0" class="notification-dot"></span>
    </button>
  </div>
</div>

<div *ngIf="selectedTab === 'find'">

  <div class="search-filter-container">
    
      <div class="filter-options">
        
        <div class="filter-left">
          <label for="search-by">Search by :</label>
          <select id="search-by" [(ngModel)]="searchBy">
            <option value="name">Name</option>
            <option value="email">Email</option>
          </select>
        </div>
    
        <div class="filter-center">
          <input type="text" id="search-input" placeholder="Search" [(ngModel)]="searchQuery">
        </div>
    
      </div>
    </div>
    


  <!-- Lista de usuarios -->
  <div class="center-container">
    <div class="user-list-container">
      <div class="user-list-header">
        <span class="column-header">Full Name</span>
        <span class="column-header">Email</span>
        <span class="column-header">Actions</span>
      </div>

      <div class="user-list-content">
        <div *ngFor="let user of filteredUsers" class="user-list-row">
          <div class="user-data">{{ user.name }}</div>
          <div class="user-data">{{ user.email }}</div>
          
          <div class="user-actions">
            <button class="action-btn request-btn" title="Request Money" (click)="irABizum('request', user)">
              <i class="material-icons">request_quote</i>
            </button>
            
            <button class="action-btn send-btn" title="Send Money" (click)="irABizum('send', user)">
              <i class="material-icons">send</i>
            </button>

            <button
              class="action-btn2"
              title="Follow"
              (click)="follow(user)">
              <i class="material-icons">person_add</i>
            </button>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedTab === 'grouprequest'" class="group-request-tab">
  <div class="group-request-card">
    <h2>Create Group Request</h2>

    <div class="form-row">
      <select class="source-selector" [(ngModel)]="userSource" (change)="resetParticipantSearch()">
        <option value="all">All Users</option>
        <option value="friends">Friends Only</option>
      </select>
    
      <input
        type="text"
        [(ngModel)]="searchParticipant"
        placeholder="Search by name or email"
        (input)="filterParticipants()"
      />
    
      <input
        type="number"
        [(ngModel)]="newAmount"
        placeholder="Amount (€)"
      />
    
      <button class="custom-btn purple" (click)="addParticipant()">Add Participant</button>
    </div>
    

    <ul *ngIf="filteredParticipantOptions.length > 0" class="autocomplete-list">
      <li
        *ngFor="let user of filteredParticipantOptions"
        [class.selected]="user.id === selectedParticipant?.id"
        (click)="selectUser(user)"
      >
        {{ user.name }} ({{ user.email }})
      </li>
    </ul>

    <div class="form-section">
      <h4>Added Participants:</h4>
      <ul>
        <li *ngFor="let p of groupParticipants">
          {{ p.name }} ({{ p.email }}) – {{ p.amount | number: '1.2-2' }} €
        </li>
      </ul>
    </div>

    <div class="form-row">
      <input
      type="number"
      class="manual-total-input"
      [(ngModel)]="manualTotal"
      placeholder="Total to split"
    />

      <button class="custom-btn purple" (click)="distributeEqually()">Split Evenly</button>
    </div>

    <div class="form-section total">
      <strong>Current Total:</strong> {{ totalAmount() | number: '1.2-2' }} €
    </div>

    <input
      type="text"
      [(ngModel)]="groupDescription"
      placeholder="Description"
      style="width: 98%; padding: 0.5rem; margin-top: 10px;"
    />

    <button class="custom-btn green" (click)="createGroupRequest()">Create Request</button>
  </div>
</div>


<div *ngIf="selectedTab === 'friends'">
  <div class="search-filter-container">
    <div class="filter-options">
      <div class="filter-left">
        <label for="search-by">Search by :</label>
        <select id="search-by" [(ngModel)]="searchBy">
          <option value="name">Name</option>
          <option value="email">Email</option>
        </select>
      </div>

      <div class="filter-center">
        <input
          type="text"
          id="search-input"
          placeholder="Search"
          [(ngModel)]="searchQuery" />
      </div>
    </div>
  </div>

  <div class="center-container">
    <div class="user-list-container">
      <div class="user-list-header">
        <span class="column-header">Full Name</span>
        <span class="column-header">Email</span>
        <span class="column-header">Actions</span>
      </div>

      <div class="user-list-content">
        <div *ngFor="let user of filteredFriends" class="user-list-row">
          <div class="user-data">{{ user.name }}</div>
          <div class="user-data">{{ user.email }}</div>

          <div class="user-actions">
            <button class="action-btn request-btn" title="Request Money" (click)="irABizum('request', user)">
              <i class="material-icons">request_quote</i>
            </button>

            <button class="action-btn send-btn" title="Send Money" (click)="irABizum('send', user)">
              <i class="material-icons">send</i>
            </button>

            <!-- Botón para dejar de seguir -->
            <button class="action-btn3" title="Unfollow" (click)="unfollow(user)">
              <i class="material-icons">person_remove</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedTab === 'transactions'">
    <div class="tr-list-container">
      <div class="tr-list-header">
        <span class="column-header">Sender</span>
        <span class="column-header">Receiver</span>
        <span class="column-header">Amount</span>
        <span class="column-header">Date</span>
      </div>

      <div class="tr-list-content">
        <div *ngFor="let tx of transactions" class="tr-list-row">
          <div class="user-data">{{ tx.sender }}</div>
          <div class="user-data">{{ tx.receiver }}</div>
          <div class="user-data">${{ tx.amount }}</div>
          <div class="user-data">{{ tx.date | date:'shortDate' }}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab === 'requests'">
    <div class="tr-list-container">
      <ng-container *ngIf="requests.length > 0; else noRequests">
        <div class="tr-list-header">
          <span class="column-header">Requester</span>
          <span class="column-header">Amount</span>
          <span class="column-header">Actions</span>
        </div>
  
        <div class="tr-list-content">
          <div *ngFor="let req of requests" class="tr-list-row">
            <div class="user-data">{{ req.requesterName }}</div>
            <div class="user-data">${{ req.amount }}</div>
            <div class="user-actions" style="display: flex; gap: 10px;">
              <button class="action-btn send-btn" (click)="acceptRequest(req)">Accept</button>
              <button class="action-btn request-btn" (click)="rejectRequest(req)">Reject</button>
            </div>
          </div>
        </div>
      </ng-container>
  
      <ng-template #noRequests>
        <p style="text-align: center; color: white; font-size: 1.2em; padding: 2vh;">You have no requests</p>
      </ng-template>
    </div>
  </div>

  <div *ngIf="modalVisible" class="modal">
    <div class="modal-content">
      <p>{{ modalMessage }}</p>
    </div>
  </div>

  <div *ngIf="selectedTab === 'frequent'">
    <div class="search-filter-container">
    
      <div class="filter-options">
        
        <div class="filter-left">
          <label for="search-by">Search by :</label>
          <select id="search-by" [(ngModel)]="searchBy">
            <option value="name">Name</option>
            <option value="email">Email</option>
          </select>
        </div>
    
        <div class="filter-center">
          <input type="text" id="search-input" placeholder="Search" [(ngModel)]="searchQuery">
        </div>
    
      </div>
    </div>
    <div class="center-container">
      <div class="user-list-container">
        <div class="user-list-header">
          <span class="column-header">Full Name</span>
          <span class="column-header">Email</span>
          <span class="column-header">Actions</span>
        </div>
  
        <div class="user-list-content">
          <div *ngFor="let user of frequentContacts" class="user-list-row">
            <div class="user-data">{{ user.name }}</div>
            <div class="user-data">{{ user.email }}</div>
  
            <div class="user-actions">
              <button class="action-btn request-btn" title="Request Money" (click)="irABizum('request', user)">
                <i class="material-icons">request_quote</i>
              </button>
  
              <button class="action-btn send-btn" title="Send Money" (click)="irABizum('send', user)">
                <i class="material-icons">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  