<app-header></app-header>

<div class="register-container">
    <div class="register-box">
        <h2>Sign up at Quickpay</h2>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-column">
                    <!-- Nombre -->
                    <div class="textbox">
                        <input type="text" id="nombre" placeholder="Nombre y Apellidos" [(ngModel)]="nombre" name="nombre" required (keydown.enter)="focusNext('apellido')"/>
                        <label for="nombre">Full Name*</label>
                    </div>
                
                    <!-- Correo Electrónico -->
                    <div class="textbox">
                        <input
                            type="email"
                            id="email"
                            placeholder="Email"
                            [(ngModel)]="email"
                            name="email"
                            required
                            (blur)="validateEmail()"
                            (keydown.enter)="focusNext('centro')"/>
                        <label for="email">Email*</label>
                    </div>
                    <div class="error-container">
                        <div *ngIf="emailInvalid" class="error-message">
                            <small>The email is not in a valid format.</small>
                        </div>
                    </div>
                
                <div class="form-grid">
                    <div class="error-container">
                        
                    </div>
                </div>
                <div class="form-grid">
                    <!-- Contraseña -->
                    <div class="textbox password-box">
                        <input type="password" id="password1" placeholder="Password" name="password1" [(ngModel)]="password1" required (keydown.enter)="focusNext('password2')"/>
                        <label for="password1">Password*</label>
                        <span class="toggle-password" (click)="togglePasswordVisibility1()" (keypress)="togglePasswordVisibility1()">{{ passwordVisible1 ? 'Hide' : 'Show' }}</span>
                    </div>
                    
                    <!-- Repetir Contraseña -->
                    <div class="textbox password-box">
                        <input type="password" id="password2" placeholder="Repeat Password" name="password2" [(ngModel)]="password2" />
                        <label for="password2">Repeat Password*</label>
                        <span class="toggle-password" (click)="togglePasswordVisibility2()" (keypress)="togglePasswordVisibility2()">{{ passwordVisible2 ? 'Hide' : 'Show' }}</span>
                    </div>
                </div>
                
                    <div class="error-message" *ngIf="passwordError">{{ passwordError }}</div>
                    <div class="error-message" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</div>
                

                <p class="required-info">Fields (*) are required.</p>
            </div>
            <div class="actions">
                <button class="btn" type="submit">Go</button>
                <p class="login-text">
                    Already have an account? <a routerLink="/login" class="login-link" (click)="navigateTo('/login')">Sign In</a>
                </p>
            </div>
        </form>
        
        
    </div>

    <div class="back-button-container">
        <button class="back-button" (click)="navigateTo('/')">Back</button>
    </div>



    <app-footer></app-footer>
</div>