.register-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
    background: url('/assets/images/background2.jpg') no-repeat center center;
    background-size: cover;
}

/* Contenedor para reservar espacio para el mensaje de error */
.login-failed-container {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Mensaje de error específico para login fallido */
.login-failed-message {
    text-align: center;
    font-size: 14px;
    color: #ff4d4f;
    font-weight: bold;
    margin-top: 5px; /* Se ajusta ligeramente hacia abajo */
}

.required-info {
    font-size: 0.75em;
    color: #ffffff;
    display: flex;
    margin-top: 0;
}

/* Mensaje de error para el campo de correo */
.error-container {
    height: 2%;
    display: flex;
    justify-content: center;
}
.error-message {
    color: #ff4d4f;
    font-size: 1em;
    margin-top: -3%;
    text-align: left;
    font-weight: 500;
}

.error-message small {
    display: block;
}

.register-box {
    width: 45%;
    padding: 2% 2% 0%;
    background-color: #106a89;
    box-shadow: 0 5% 5% rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1;
    border-radius: 0.3125rem;

}

.register-box h2 {
    margin: 0 0 5%;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .register-box {
        width: 90%;
        padding: 2%;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 3.5%;
    width: 98.5%;

}
.form-grid .textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 6%;
    padding: 2%;
}

.form-grid .textbox label {
    padding: 0 5px;
    margin: 0;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
.textbox {
    position: relative;
    margin-bottom: 3%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #f5f5f5;
    transition: all 0.3s ease;
    pointer-events: none;
    
}

.textbox input {
    width: 100%;
    padding: 2%;
    background: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}
.textbox input:focus {
    box-shadow: 0 0 8px #00eeff;
    border: none;
    width: 95%;
}

.textbox input:focus ~ label,
.textbox input:not(:placeholder-shown) ~ label {
    top: -15%;
    font-size: 0.9em;
    color: #00eeff;
}

.textbox input::placeholder {
    color: transparent;
}

.forgot-password-container {
    text-align: left;
    margin-top: -20px;
}

.forgot-password {
    font-size: 12px;
    color: #b3b3b3;
    text-decoration: none;
}

.forgot-password:hover {
    color: #00eeff;
    text-decoration: underline;
}

.login-link {
    color: #00eeff;
    font-weight: bold;
    text-decoration: none;
}

.forgot-password:hover,
.login-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.actions {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions .btn {
    width:100%;
    padding: 1%;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: -4%;
}

.actions .btn:hover {
    background-color: #0056b3;
}

.actions .login-text {
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Asegurar alineación vertical */
    gap: 5px; /* Espacio entre el texto y el enlace */
}



.actions .login-text .login-link {
    color: #e4f47f;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;

}

.actions .login-text .login-link:hover {
    color: #ffffff;
    text-decoration: underline;

}

.password-box {
    display: flex;
}

.toggle-password {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00eeff;
    font-size: 0.8em;
    font-weight: bold;
    z-index: 2;
}

.toggle-password:hover {
    color: #ffffff;
}

.back-button-container {
    width: 35%;
    position: fixed;
    bottom: 8%;
    left: 2%;
}
.back-button {
    background-color: #007bff;
    border: none;
    padding: 2%;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}