<app-header></app-header>

<div class="perfil-container">
  <div class="profile-info">
    <h2>User Profile</h2>


    <!-- Información del usuario -->
    <div class="info-field">
      <label>Full Name</label>
      <p *ngIf="!isEditing">{{ user.nombre }}</p>
      <input type="text" [(ngModel)]="user.nombre" *ngIf="isEditing" />
    </div>

    <div class="info-field">
      <label>Email</label>
      <p>{{ user.correo }}</p>
    </div>

    <div class="info-field" *ngIf="isEditing">
      <label>Reset Password</label>
      <input type="password" [(ngModel)]="user.newPassword" placeholder="" />
    </div>

    <div class="info-field">
      <label>Actual account balance</label>
      <p>{{ user.balance }} €</p>
    </div>

    <!-- Botones de acción -->
    <div class="actions">
      <!-- Mostrar solo cuando NO está editando -->
      <button class="btnEditar" *ngIf="!isEditing" (click)="toggleEdit()">Edit Profile</button>

      <!-- Mostrar solo cuando SÍ está editando -->
      <button class="btnGuardar" *ngIf="isEditing" (click)="saveChanges()" [disabled]="!isFormValid()">Save Changes</button>
      <button class="btnCancelar" *ngIf="isEditing" (click)="toggleEdit()">Cancel</button>
    </div>



  <!-- Botón para volver -->
  <div class="back-button-container">
    <button class="back-button" (click)="navigateTo('/ventana-principal')">Back</button>
  </div>

  <app-footer></app-footer>
</div>
